<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.view">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabSmartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckViewActivity"
            android:label="CheckView 演示"
            android:screenOrientation="portrait" />
    </application>

</manifest>